html{
    display: flex;
    justify-content: center;
}
body{
    border : 1px solid blue;
    width: 800px;
    height: 280px; 
    padding-left: 20px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#result span{
    font-weight: bold;
    color: blue;
}
#astro {
    font-weight: bold;
    color: blue;
}