:root {
  --background-color: #BBCCFF;
  
}
body{
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 1fr 200px;
  grid-template-areas:  "header header header"
                        "nav main main" 
                        "nav footer footer";
  background-color: white;
}
header{
  grid-area: header;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  background-color: var(--background-color);
}
header h1{
  background-color: var(--background-color);
  width: 100%;
  margin: 5px;
}
header aside{
  width: 150px;
  margin: 5px;
  background-color: var(--background-color);
}
nav{
  grid-area: nav;
  margin: 5px;
  background-color: var(--background-color);
}
main{
  grid-area: main;
  margin: 5px;
  background-color: var(--background-color);
}

footer{
  grid-area: footer;
  margin: 5px;
  background-color: var(--background-color);
}
.principal {
  display: grid;
  grid-template-columns: 200px 100% 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "article article article"
                       "margin section section"
                       "margin section section"
                       "margin section section";
}
article{
  grid-area: article;
  margin: 5px;
  width: 100%;
}
section {
  grid-area: section;
  background-color: white;
}
.principal {
  grid-template-columns: 150px 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr;
  grid-template-areas:
    "article article"
    "section section"
    "section section";
}

section {
  grid-column: span 3;
  grid-row: span 3;
  margin: 5px;
}

section:nth-of-type(1) {
  grid-row: 2;
  grid-column: 2;
}

section:nth-of-type(2) {
  grid-row: 2;
  grid-column: 3;
}

section:nth-of-type(3) {
  grid-row: 3;
  grid-column: 2;
}

section:nth-of-type(4) {
  grid-row: 3;
  grid-column: 3;
}
section:nth-of-type(5) {
  grid-row: 4;
  grid-column: 2;
}
section:nth-of-type(6) {
  grid-row: 4;
  grid-column: 3;
}