html{
    display: flex;
    justify-content: center;
}
body{
    border : 1px solid blue;
    width: 800px;
    height: 230px; 
    padding-left: 20px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#name, #age, #majeur{
    color: blue;
    font-weight: bold;
}
#nameInput, #ageInput, #valider, #vider{
    border: 1px solid blue;
}
