:root {
  --h1_color: #721c24;
  --h2_color: #dc3545;
  --background_header: #f8d7da;
  --background_p: #e2f0d9;
  --p_color: #155724;
  --html_background: #ffffff;
  --footer_background: rgb(228, 227, 227);
  --footer_color: rgb(117, 114, 114);
  --box_shadow_color: black;
  --border_color: yellow;
}
/* proposer un mode sombre au client

@media (prefers-color-scheme: dark) {
    :root{
        --html_background: #000000;
    }
    html{
        background-color: var(--html_background);
    }
} */
html{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--html_background);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
body{
    display: block;
    width: 960px;
    font-size: larger;
    padding: 20px;
    border: 2px dotted var(--border_color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: var(--box_shadow_color);
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    background-color: var(--background_header);
    width: 960px;
    text-align: center;
}
h1{
    color: var(--h1_color);
    margin: 0;
}
h2{
    color: var(--h2_color);
}
p{
    background-color: var(--background_p);
    color: var(--p_color);
    padding: 10px;
    border-radius: 5px;
    
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer_background);
    color: grey;
    text-align: center;
    height: 75px;
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 960px;
    /* width: 640px; ne fait pas la largeur, j'ai opté pour 960px */
}
